body
{
	background-image:url('rower.jpg');
	background-size:cover;
	background-position:center;
	position:relative;
	overflow:hidden;
}
#container
{
	width:1540px;
	margin-left: auto;
	margin-right: auto;
}
#menu
{
	background-color: #303030;
	margin-top:20px;
	color:#ffffff;
	padding: 10px;
}

#wstep
{
	/*background-color:black;*/
	color:black;
	text-align:center;
	padding: 15px;
	letter-spacing: 2px;
}	
#Info
{
	/*float:left;*/
	background-color:#303030;
	color:#ffffff;
	width:1020px;
	min-height:220px;
	padding: 10px;
	font-size:40px;
}	

.option
{
	float: left;
	width: 270px;
	height: 25px;
	font-size:20px;
	padding: 15px;
	border-right: 2px solid #444444;
	border-bottom: 2px solid #444444;
	border-left: 2px solid #444444;
	border-top: 2px solid #444444;
}

.option:hover
{
	background-color:#000000;
	color:white;
	cursor:pointer;
}

a.tilelink
{
	color:#ffffff;
	text-decoration:none;
	display:block;
	min-width: 270px;
	height: 25px;
}